<!doctype html>
<html lang="en" ng-app ng-init="isAvailable=true">
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script>
      function ChatController($scope) {
        var socket = io.connect();

        $scope.coaches = [];
        $scope.getAvailability = function(coach) {
          return coach.isAvailable ? 'Available' : 'Unavailable';
        }
        fetch('/coaches')
          .then( function (response) {
            console.log("res:",response.ok);
            return response.json();
          })
          .then( function (coaches) {
            $scope.coaches = coaches;
            $scope.$apply();
          })
          .catch( function (err) {
            console.log(err);
          });

        socket.on('availability_change', function (change) {
          console.log(change);
          var coach = $scope.coaches.find(function(coach){
            return coach._id === change.id; 
          });
          coach.isAvailable = change.availability;
          $scope.$apply();
        });
      }
    </script>
  </head>
  <body>
    <div class="container" ng-controller="ChatController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <h4>VIP MSG</h4>
      </div>
      <div class="page-header">
        <h1>Coach Availability</h1>
      </div>
    <!--Repeating Div-->
<div class="container">
  <div class="row" ng-repeat="coach in coaches|filter:'astro'">
    <div class="col-md-2">
      <span class="h3">{{coach.name}}</span><br>
      <img ng-src="{{coach.img_URL}}" style="width:200px; height:200px;">
    </div>
    <div class="col">
    <br> <h4>{{coach.headline}}</h4><br>
     <p>{{coach.about}}</p>
    </div>
    <div class="col">
       <br> <div ng-src="{{coach.headline}}" class="btn btn-success"><br>{{coach.callLine}}</div>
        </div>
    
  </div>
</div>

      </div
        
        
      </div>
      
      
      
      <div class="row">
        <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span2">Name</th>
                <th class="span7">Phone Line</th>
                <th class="span7">Availability</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="coach in coaches">
                <td class="span2" ng-bind="coach.name"></td>
                <td class="span7" ng-bind="coach.callLine"></td>
                <td class="span7" ng-bind="getAvailability(coach)"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
